<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="logPath" value="./logPath"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %highlight(%-5level) [%thread] %r %cyan(%logger)[%L]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/info.log</File>
        <encoder>
            <pattern>%d %-5level [%thread] %r %logger[%L]: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/warn.log</File>
        <encoder>
            <pattern>%d %-5level [%thread] %r %logger[%L]: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/error.log</File>
        <encoder>
            <pattern>%d %-5level [%thread] %r %logger[%L]: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <logger name="org.quartz" level="WARN"/>
        <logger name="com.mk.mybatis.multidatasource.base" level="DEBUG" />
        <logger name="com.mk.mybatis.multidatasource.one" level="DEBUG" />
        <logger name="com.mk.mybatis.multidatasource.two" level="DEBUG" />
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="info"/>
            <appender-ref ref="warn"/>
            <appender-ref ref="error"/>
        </root>
    </springProfile>

</configuration>